h1{
    color: rgb(34, 28, 28);
    /* height: 50px;
    width: 400px; */
    background-color: rgb(170, 25, 238);
    justify-content: center;
    text-align: center;
    padding-top: 10px;
    border: 2px solid gray;


}

p{
    color: rgb(20, 17, 16);
    font-size: 22px;
    font-family: 'Times New Roman', Times, serif;
    background-color: rgb(166, 160, 177);
    text-align: center;
    text-align: justify;
    padding-top: 10px;
    padding-bottom: 10px;
    height: 300px;
    width: 25%;
    margin: 10px;
    display: inline-block;
}

.heading{
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.area{
    background-color: lightgray;
    border: 2px dotted green;
    position: relative;
}
div{
    height: 100px;
    width: 100px;
}
#first{
    background-color: yellow;
    position: relative;
    left: 100px;
}
#secoend{
    background-color: red;

}
#third{
    background-color: blue;
    position: relative;
    left: 100px;

}
#fourth{
    background-color: black;


}
#fifth{
    background-color: rgb(62, 224, 21);
    position: absolute;
    top: 100px;
    left:100px;
}
#six{
    background-color: chocolate;
    position: absolute;
    left: 100px;
    top: 300px;
}
#seven{
    background-color: darkred;

}
#eight{
    background-color: gold;
    position: absolute;
    left: 100px;
    top: 400px;
}